<include file="Public:system_header" title="查看项目详细"/>
     <div class="module_public_main">
         <table>
         <tr style="background:#F0F0F0;">
            <td colspan="3"><a href="__URL__/add_projectLog/pid/<{$p_id}>">【创建项目日志】</a><a href="__URL__/project_log/pid/<{$p_id}>">【管理项目日志】</a></td>
          </tr>
           <tr>
             <td width="12%" align="right">创建时间:</td>
             <td><{$l_info.pl_time}></td>
           </tr>
           <tr>
             <td width="12%" align="right">日志内容:</td>
             <td><{$l_info.pl_content}></td>
           </tr>
         </table>
     </div>
<include file="Public:system_footer" />