<!DOCTYPE>
<html>
<head>
  <link rel="stylesheet" href="/../../../../Css/layout.css" />
  <link rel="stylesheet" href="/../../../../Css/module_public.css" />
  <script type="text/javascript" src="/../../../../Js/jquery.js" ></script>
  <script type="text/javascript" src="/../../../../Js/My97DatePicker/WdatePicker.js" ></script>

</head>
<body>
  <div class="module_public">
     <div class="module_public_content">
        <h1>新建项目<a href="__ACTION__">【刷新】</a></h1>
     </div>
<style>
div.centent {float:left;text-align: center;margin: 10px;}
span { display:block; margin:2px 2px;padding:4px 10px; background:#898989;cursor:pointer;font-size:12px;color:white;
}
</style>
	<div class="module_public_main">
       <table>
         <tr>
           <td width="8%" align="center">编号</td>
           <td align="center">项目名称</td>
           <td align="center">项目负责人</td>
           <td align="center">开始时间</td>
           <td align="center">完成进度</td>
           <td align="center">文档</td>
           <td align="center">操作</td>
         </tr>
         {volist name="p_info" id="v" key="k"}
          <tr>
           <td width="8%" align="center"><{$v.p_id}></td>
           <td align="center">{$v.p_title}</td>
           <td align="center">{$v.p_manage}</td>
           <td align="center">{$v.p_starttime|date="Y年m月d日",###}</td>
           <td>{$v.p_progress}%
              <table style="width:{$v.p_progress}%">
                  <tr style="background:#F90;">
                     <td style="color:#FFF;"></td>
                  </tr>
              </table>
           </td>
           {if condition="$v.p_document eq ''"}
           <td align="center"><font color=red>x</font></td>  
           {else/}
           <td align="center"><font color=green>√</font></td>
           {/if}
           <td align="center">
              <a href="#"  onclick=" return uploads({$v.p_id})" title="{$v.p_id}">上传文档</a> |
              {if condition="$v.p_document eq ''"}
              <a href="#">暂无文档</a> |
              {else /}
              <a href="__PUBLIC__/project_doc/{$v.p_document}">下载文档</a> |
              {/if}
              <a href="index/project/edit_project/pid/{$v.p_id}">修改项目信息</a> |
              <a href="index/project/look_project/pid/{$v.p_id}">查看项目详细</a> |
              <a href="index/project/project_log/pid/{$v.p_id}">项目日志</a> |
              <a href="index/project/project_del/pid/{$v.p_id}" onclick="if(confirm('删除项目,也会删除相应的项目日志?')){return true;}else{return false};">删除项目</a>
           </td>
         </tr> 
         {/volist}
       </table>
       <iframe style="width:0; height:0; border:0;" name="form-target"></iframe>
       <p id="pp"></p>
	</div>


  <div class="fade" style="width:300px;height:180px;border:1px solid #CCC;display:none;background:#F0F0F0;position:absolute;left:none;top:none;padding:10px;" ><fieldset style='padding:20px;'><legend>上传项目文档</legend><form action="{:url('index/project/do_projectUpload')}" method='post' enctype='multipart/form-data' target='form-target'><input type='hidden' name='pid'value="name" /><p>上传:<input type='file' name='xiangmu_doc' /></p><p style='margin-top:10px;text-align:left;margin-left:20px;'><input type='submit'  value='上传' style='margin-left:10px;'/><input type='reset' value='重置' style='margin-left:10px;'/><input type='button' onclick = "return addup()" value='关闭' style='margin-left:10px;'/></p></form></fieldset></div> 



    <script type="text/javascript">
	  function uploads(n){

          

        var Ofad = document.getElementsByClassName('fade');

        
          var x = event.clientX;
          var y = event.clientY;
          
       
          

        for (var i = 0; i < Ofad.length; i++) {
          Ofad[i].children[0].children[1].children[0].value=n;
          
            Ofad[i].style.display='block';

            Ofad[i].style.left=+x+'px';
            Ofad[i].style.top=+y+'px';
        }
        

        var Oli =document.getElementsByClassName('light');
        for (var i = 0; i < Oli.length; i++) {
            Oli[i].style.display='block';
        }


 
      return false;
    }
    function addup(n) {
        var Onfad = document.getElementsByClassName('fade');
        for (var i = 0; i < Onfad.length; i++) {
            Onfad[i].style.display='none';
        }

        var Onli=document.getElementsByClassName('light');
        for (var i = 0; i < Onli.length; i++) {
            Onli[i].style.display='none';
        }
   return false;

    }
	</script>

  </div>
</body>
</html>