<!DOCTYPE>
<html>
<head>
  <link rel="stylesheet" href="/../../../../Css/layout.css" />
  <link rel="stylesheet" href="/../../../../Css/module_public.css" />
  <script type="text/javascript" src="/../../../../Js/jquery.js" ></script>
  <script type="text/javascript" src="/../../../../Js/My97DatePicker/WdatePicker.js" ></script>
  <script type="text/javascript" src="/../../../../Js/system.js" ></script>
</head>
<body>
  <div class="module_public">
     <div class="module_public_content">
        <h1> >> [title] <a href="__ACTION__">【刷新】</a></h1>
     </div>